<div class="card bg-light">
    <div class="card-title">
        <h3>{{product.productName | uppercase}}</h3>        
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                Product Id
            </div>
            <div class="col-md-4">
                {{product.productId}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Product Name
            </div>
            <div class="col-md-4">
                {{product.productName | uppercase | lowercase}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Product Code
            </div>
            <div class="col-md-4">
                {{product.productCode | lowercase |test:"-":"@" |shorten}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Release Date
            </div>
            <div class="col-md-4">
                {{product.releaseDate}}
            </div>
        </div>
        <ng-content></ng-content>
        <div class="row">
            <div class="col-md-2">
                Description Text
            </div>
            <div class="col-md-4">
                {{product.description?.descText | shorten }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Manufacturing Year
            </div>
            <div class="col-md-4">
                {{product.description?.mfdYear}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Price
            </div>
            <div class="col-md-4">
                {{product.price | currency :'USD':true:'2.2'}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Star Rating
            </div>
            <div class="col-md-4">
                {{product.starRating}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Image
            </div>
            <div class="col-md-4">
                <img src={{product.imageUrl}} style="width: 100px;height:100px;" [title]="product.productName" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Email Id
            </div>
            <div class="col-md-4">
                {{product.emailId}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary btn-sm" (click)="Redirect()">Redirect To Products</button>
                <button class="btn btn-primary btn-sm" (click)="Edit()">Edit</button>
            </div>
            <div class="col-md-4" [routerLink]="['/products',5]">Click Here to Load 5</div>
        </div>
        <ng-content></ng-content>
    </div>
</div>