<div class="container">
  <form (ngSubmit)="OnSubmit()" [formGroup]="signUpForm">
    <div class="row">
      <div class="col-md-2">First Name:</div>
      <div class="col-md-3">
        <input type="text" class="form-control" [formControlName]="'firstName'" />
      </div>
      <div class="col-md-3">
        <!-- <span class="alert alert-danger" *ngIf="signUpForm.get('firstName').errors?.required">
          First Name is a required field
        </span> -->
        <span class="alert alert-danger"
          *ngIf="signUpForm.controls.firstName.errors?.required && signUpForm.controls.firstName.touched">
          First Name is a required field
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">Last Name:</div>
      <div class="col-md-3">
        <input type="text" class="form-control" [formControlName]="'lastName'" />
      </div>
      <div class="col-md-3">
        <span class="alert alert-danger" *ngIf="signUpForm.get('lastName').errors?.required">
          Last Name is a required field
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">Mobile No:</div>
      <div class="col-md-3">
        <input type="text" class="form-control" [formControlName]="'mobileNo'" />
      </div>
      <div class="col-md-3">
        <span class="alert alert-danger"
          *ngIf="signUpForm.get('mobileNo').errors?.required && signUpForm.get('mobileNo').touched">
          Mobile No is a required field
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">Email:</div>
      <div class="col-md-3">
        <input type="text" class="form-control" [formControlName]="'email'" />
      </div>      
    </div>

    <div class="row">
      <div class="col-md-2">Password:</div>
      <div class="col-md-3">
        <input type="password" class="form-control" [formControlName]="'password'" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">Confirm Password:</div>
      <div class="col-md-3">
        <input type="password" class="form-control" [formControlName]="'confirmPassword'" />
      </div>      
    </div>

    <button type="submit" class="btn-outline-primary">Save</button>
  </form>

</div>