<div class="container">
    <div basic-highlight>Basic Highlight Test</div>
    <div class="row">
        <div class="col-md-1">
            Filter By:
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" [(ngModel)]="filterBy" #filter />
        </div>
        <div class="col-md-6">
            <!-- <div *ngIf="filterBy.length>0 else abc" class="alert alert-info">{{filterBy}}</div>
            <ng-template #abc>
                    <div class="alert alert-danger">Please enter Filter Criteria</div>
            </ng-template> -->
            <!-- <ng-template [ngIf]="filterBy.length>0">
                <div class="alert alert-info">{{filterBy}}</div>
            </ng-template> -->

            <!-- <div class="alert alert-info" [hidden]="filterBy.length==0">{{filterBy}}</div> -->
            <button class="btn btn-primary" (click)="ImpurityTest()">Impurity Test</button>
            <div class="alert alert-info">{{filter.value}}</div>

        </div>
    </div>

    <div class="row" #testDiv>
        <div class="col-md-4" *ngFor="let prod of productList | filterProduct:filterBy">
            <app-product-thumbnail [productDetails]="prod" (pce)="getDataFromChild($event)" >
                
            </app-product-thumbnail>

            <!-- <div>{{prod | json}}</div> -->
        </div>
    </div>
</div>